In [1]:
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [2]:
activity = {'walking': 0, 'idle': 1, 'running': 2, 'stairs': 3}

data_walking = pd.read_csv('data/walking/walking-1.csv')
data_walking["activity"] = activity['walking']
data_walking

    accelerometer_X  accelerometer_Y  accelerometer_Z  activity
0          2.322376         3.643975        11.827356         0
1          1.781286         4.668694         6.148310         0
2          7.963115        -4.113238         1.359907         0
3          1.996764        -1.398214         1.163582         0
4          5.185841       -12.143391         4.687847         0
5         11.219229       -10.625467        -8.087613         0
6         10.888829       -13.939042        -1.273715         0
7          9.902418        -9.667787        -0.110133         0
8          8.097190       -20.934900         1.393425         0
9          5.655105       -11.573571        -1.106121         0
10        12.363658       -18.253393       -21.442470         0
11         5.171476        -9.169792         0.407014         0
12        -1.920150        -3.648763         0.244209         0
13         0.119710        -7.819463         0.234632         0
14         4.908114       -11.271901        -2.561796         0
15         0.363919       -15.289372        -1.977611         0
16         5.075708       -10.682928        -1.565808         0
17        -2.097321       -13.431472         4.252103         0
18         4.563349       -10.319010         0.450110         0
19         0.837971        -5.544971        -1.441309         0
20         2.537854        -8.408437         0.277727         0
21         2.494758        -5.980716         2.312799         0
22        -2.351106       -14.432248        -0.972046         0
23         6.540959       -10.903194        -2.039860         0
24         5.214572       -10.749966        -6.234501         0
25         4.644751       -12.392388        -1.211466         0
26         5.923255       -13.977349        -7.785944         0
27         5.339070        -9.495404         0.632069         0
28        -2.389413        -4.831499         0.938527         0
29        -0.210690        -8.872911         0.043096         0

In [3]:
data_idle = pd.read_csv('data/idle/idle-1.csv')
data_idle['activity'] = activity['idle']
data_idle.head()

   accelerometer_X  accelerometer_Y  accelerometer_Z  activity
0         1.000776         4.616021         8.576031         1
1         0.718261         4.209007         8.446744         1
2        -0.909797        -0.282516         9.203311         1
3         5.099650         0.148441         8.418014         1
4         1.762132        -0.162806         9.251195         1

In [4]:
data_running = pd.read_csv('data/running/running-1.csv')
data_running['activity'] = activity['running']
data_running.head()

   accelerometer_X  accelerometer_Y  accelerometer_Z  activity
0        -4.151545         1.781286         2.173935         2
1         2.020706         3.706224         9.921572         2
2         1.762132         4.242526         8.078037         2
3        -0.445322        11.080365         6.756438         2
4         5.573702        13.436260        15.054740         2

In [5]:
data_stairs = pd.read_csv('data/stairs/stairs-1.csv')
data_stairs['activity'] = activity['stairs']
data_stairs.head()

   accelerometer_X  accelerometer_Y  accelerometer_Z  activity
0         6.727707         2.973599         3.936068         3
1         7.891289         0.440533        -3.342306         3
2         6.301539        -1.154005         0.067038         3
3         4.534618        -5.755661        -1.369483         3
4         4.563349        -3.730166        -0.028730         3

In [7]:
data_all = pd.concat([data_idle, data_running, data_stairs, data_walking], ignore_index=True)
data_all = data_all.sample(frac=1).reset_index(drop=True)
data_all

     accelerometer_X  accelerometer_Y  accelerometer_Z  activity
0          -0.086191        -0.148441         9.787497         1
1           5.923255       -13.977349        -7.785944         0
2           1.762132        -0.162806         9.251195         1
3          11.219229       -10.625467        -8.087613         0
4          -0.258574         9.414001         3.960010         2
..               ...              ...              ...       ...
115         5.099650         0.148441         8.418014         1
116         7.963115        -4.113238         1.359907         0
117        -2.351106       -14.432248        -0.972046         0
118         1.762132         4.242526         8.078037         2
119         1.168371        -9.816227         1.910573         3

[120 rows x 4 columns]

In [9]:
X = data_all.iloc[:, :-1]
y = data_all['activity']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

svm_model = svm.SVC(kernel='rbf')
svm_model.fit(X_train, y_train)
svm_predictions = svm_model.predict(X_test)
svm_report = classification_report(y_test, svm_predictions)
print(svm_report)

              precision    recall  f1-score   support

           0       0.60      0.38      0.46         8
           1       0.67      0.67      0.67         3
           2       0.75      0.60      0.67         5
           3       0.58      0.88      0.70         8

    accuracy                           0.62        24
   macro avg       0.65      0.63      0.62        24
weighted avg       0.63      0.62      0.61        24

In [10]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)
rf_predictions = rf_model.predict(X_test)
rf_report = classification_report(y_test, rf_predictions)
print(rf_report)

              precision    recall  f1-score   support

           0       0.57      0.50      0.53         8
           1       1.00      1.00      1.00         3
           2       0.50      0.60      0.55         5
           3       0.62      0.62      0.62         8

    accuracy                           0.62        24
   macro avg       0.67      0.68      0.68        24
weighted avg       0.63      0.62      0.62        24